snippet ao "Ambient occlussion." b 
set_color oxygen, [1.0,0.4,0.4];
set_color nitrogen, [0.5,0.5,1.0];
remove solvent;
as spheres;
util.cbaw;
bg white;
set light_count,10;
set spec_count,1;
set shininess, 10;
set specular,0.25;
set ambient,0;
set direct,0;
set reflect,1.5;
set ray_shadow_decay_factor, 0.1;
set ray_shadow_decay_range, 2;
unset depth_cue;
ray;
$0
endsnippet
 
snippet ellipcol "Set ellipsoid color." b 
set ellipsoid_color, ${1:color};
$0
endsnippet
 
snippet sigdist "set distance labels to display 2 decimals" b 
set label_distance_digits, ${1:2};
$0
endsnippet
 
snippet sigang "Set angle labels to display 2 decimals places" b 
set label_angle_digits, ${1:2};
$0
endsnippet
 
snippet bs "Ball and stick representation. " b 
show sticks;
set stick_radius, 0.12;
set stick_ball, on;
set stick_ball_ratio, 1.9;
show nb_spheres;
set nb_spheres_size=0.33;
$0
endsnippet
 
snippet stack "Base-stacking figure." b 
delete all;
fetch ${1:4PCO}, type=pdb,async=0;
select ${2:G2G3}, ( ((resi ${3:2} or resi ${4:3}) and chain A) or ((resi ${5:8} or resi ${6:9}) and chain B) );
hide everything, element h; 
remove not ${2:G2G3};
bg_color white;
show sticks;
set stick_radius=0.14;
set stick_ball, on; 
set stick_ball_ratio,1.9;
set_view (-0.75,0.09,0.66,-0.2,0.92,-0.35,-0.64,-0.39,-0.67,-0.0,-0.0,-43.7,7. 24,9.55,11.78,29.46,57.91,-20.0);
hide everything, element H;
select carbon1, element C and (resi ${4:3} or resi ${5:8}) 
# select lower base pair;
select carbon2, element C and (resi ${3:2} or resi ${6:9}) 
#select upper base pair;
color gray70,carbon1;
color gray10,carbon2;
space cmyk;
distance hbond1,/${1:4PCO}//B/U`9/N3,/${1:4PCO}//A/G`2/O6;
distance hbond2,/${1:4PCO}//B/U`9/O2,/${1:4PCO}//A/G`2/N1;
distance hbond3,/${1:4PCO}//A/U`3/N3,/${1:4PCO}//B/G`8/O6;
distance hbond4,/${1:4PCO}//A/U`3/O2,/${1:4PCO}//B/G`8/N1;
color black, hbond1;
color black, hbond2;
color gray70, hbond3;
color gray70, hbond4;
show nb_spheres;
set nb_spheres_size, 0.35;
hide labels;
ray 1600,1000;
png ${1:4PCO}.png
$0
endsnippet
 
snippet bu "Biological unit." b 
run ~/Scripts/PyMOLScripts/quat.py; quat
$0
endsnippet
 
snippet doubleBond "Valence bond. " b 
set valence, 1; 
set valence_mode, 1;
$0
endsnippet
 
snippet cblind "Color blindness." b 
run ~/Pymol-script-repo/colorblindfriendly.py;
as cartoon;
color cb_red, ss H;
color cb_yellow,ss S;
color cb_green, ss L+; 
$0
endsnippet
 
snippet centerpi "Center pi." b 
pseudoatom pi_cent,/${1:3nd3}/${2:A}/${3:U`15}/cg+cz;
dist pi_cent////ps1, b/${4:U`15}/${5:aaa};
$0
endsnippet
 
snippet cribbon "Color ribbon H red, strand yellow, loop green." b 
as cartoon;
color red, ss H;
color yellow,ss S;
color green, ss L+; 
$0
endsnippet
 
snippet cspheres "Colored spheres." b 
as spheres;    
color gray30, chain %0;    
color white, chain %1;    
color green, name CL;    
color brown, resn NAG;    
color red, resi 381;    
remove solvent;    
unset specular;    
set ray_trace_gain, 0;    
set ray_trace_mode, 3;    
bg_color white;    
set ray_trace_color, black;    
unset depth_cue;    
$0
endsnippet
 
snippet coordinate "Coordinate covalent bonds to metals and H-bonds friom RNA." b 
viewport 900,600;    
fetch 3nd4, type=pdb, async=0;    
run ~/Scripts/PyMOLScripts/quat.py;    
quat 3nd4;    
show sticks;    
set stick_radius=0.125;    
hide everything, name H*;    
bg_color white;        
create coorCov, (3nd4_1 and (resi 19 or resi 119 or resi 219 or resi 319 or resi 419 or resi 519 or (resi 3 and name N7)));        
bond (coorCov//A/NA`19/NA),(coorCov//A/A`3/N7);    
bond (coorCov//A/NA`19/NA),(coorCov//A/HOH`119/O);    
bond (coorCov//A/NA`19/NA),(coorCov//A/HOH`219/O);    
bond (coorCov//A/NA`19/NA),(coorCov//A/HOH`319/O);    
bond (coorCov//A/NA`19/NA),(coorCov//A/HOH`519/O);        
distance (3nd4_1 and chain Aand resi 19 and name NA), (3nd4_1 and chain A and resi 519);    
distance (3nd4_1 and chain A and resi 19 and name NA), (3nd4_1 and chain A and resi 419);    
distance (3nd4_1 and chain A and resi 19 and name NA), (3nd4_1 and chain A and resi 319);    
distance (3nd4_1 and chain A and resi 19 and name NA), (3nd4_1 and chain A and resi 219);    
show nb_spheres;     
set nb_spheres_size, .35;        
distance hbond1,/3nd4_1/1/A/HOH`119/O, /3nd4_1/1/A/A`3/OP2;    
distance hbond2,/3nd4_1/1/A/HOH`319/O, /3nd4_1/1/A/A`3/OP2;    
distance hbond3,/3nd4_1/1/A/HOH`91/O,/3nd4_1/1/A/HOH`119/O;   
distance hbond4,/3nd4_1/1/A/G`4/N7,/3nd4_1/1/A/HOH`91/O;    
distance hbond5,/3nd4_1/1/A/G`4/O6, /3nd4_1/1/A/HOH`419/O;    
distance hbond6,/3nd4_1/1/A/HOH`91/O,/3nd4_1/1/A/G`4/OP2;    
distance hbond7,/3nd4_1/1/A/HOH`319/O,/3nd4_1/1/A/G`2/OP2;    
distance  hbond9,/3nd4_1/1/A/HOH`419/O,/3nd4_2/2/A/HOH`74/O;    
distance hbond10,/3nd4_2/2/A/C`15/O2,/3nd4_1/1/A/G`2/N2;    
distance hbond11, /3nd4_2/2/A/C`15/N3,/3nd4_1/1/A/G`2/N1;    
distance hbond12,/3nd4_2/2/A/C`15/N4,/3nd4_1/1/A/G`2/O6;    
distance hbond13, /3nd4_2/2/A/U`14/N3,/3nd4_1/1/A/A`3/N1;    
distance hbond14,3nd4_2/2/A/U`14/O4,/3nd4_1/1/A/A`3/N6;    
distance hbond15, /3nd4_2/2/A/C`13/N4,/3nd4_1/1/A/G`4/O6;   
 distance hbond16,/3nd4_2/2/A/C`13/N3, /3nd4_1/1/A/G`4/N1;    
distance hbond17, /3nd4_1/1/A/G`4/N2,/3nd4_2/2/A/C`13/O2;    
distance hbond18,/3nd4_1/1/A/G`2/N2,/3nd4_2/2/A/C`15/O2;    
distance hbond19,/3nd4_1/1/A/HOH`91/O,/3nd4_1/1/A/G`4/OP2;        
set depth_cue=0;    
set ray_trace_fog=0;    
set dash_color, black;    
set label_font_id, 5;    
set label_size, 36;
set label_position, (0.5, 1.0, 2.0);   
set label_color, black;    
set dash_gap, 0.2;    
set dash_width, 2.0;    
set dash_length, 0.2;
set label_color, black;    
set dash_gap, 0.2; 
set dash_width, 2.0;
set dash_length, 0.2;
select carbon, element C;
color yellow, carbon;
disable carbon;
set_view(-0.9,0.34,-0.26,0.33,0.18,-0.93,-0.27,-0.92,-0.28,-0.07,-0.23,-27.83,8.63,19.85,13.2,16.0,31.63,-20.0) 
$0
endsnippet
 
snippet distance "H-bond distances." b 
distance ${1:dist3}, ${2:/rcsb074137//B/IOD`605/I`B}, ${3:/rcsb074137//B/IOD`605/I`A}
$0
endsnippet
 
snippet drawHbonds "Draw H-bonds. " b 
hide everything, hydrogens
hide labels
set dash_color, ${1:black}${2:yelow} 
set dash_gap, 0.4
set dash_radius, 0.08
$0
endsnippet
 
snippet carvedDensity "Carved electron density. " b 
delete all;
fetch ${1:4dgr}, async=0;
fetch ${1:4dgr}, type=2fofc,async=0;
select ${2:LongGlycan}, resi ${3:469:477};
orient ${2:LongGlycan};
remove not ${2:LongGlycan};
remove name H*;
isomesh 2fofcmap, ${1:4dgr}_2fofc, 1, ${2:LongGlycan}, carve = 1.8;
color density, 2fofcmap; 
show sticks;
show spheres;
set stick_radius, .07;
set sphere_scale, .19;
set sphere_scale, .13, elem H;
set bg_rgb=[1, 1, 1];
set stick_quality, 50;
set sphere_quality, 4;
color gray85, elem C;
color red, elem O;
color slate, elem N;
color gray98, elem H;
set stick_color, gray50;
set ray_trace_mode, 1;
set ray_texture, 2;
set antialias, 3;
set ambient, 0.5;
set spec_count, 5;
set shininess, 50;
set specular, 1;
set reflect, .1;
set dash_gap, 0;
set dash_color, black;
set dash_gap, .15;
set dash_length, .05;
set dash_round_ends, 0;
set dash_radius, .05;
set_view (0.34,-0.72,0.61,0.8,0.56,0.22,-0.51,0.4,0.77,0.0,0.0,-81.31,44.64,-9.02,58.62,65.34,97.28,-20.0);
preset.ball_and_stick("all",mode=1);
draw;
$0
endsnippet
 
snippet fetch2FoFc "Fetch 2FoFc map." b 
fetch ${1:3nd4}, type=2fofc, async=0
$0
endsnippet
 
snippet fetchCIF "Fetch cif file." b 
fetch ${1:3nd4}, type=cif, async=0;
$0
endsnippet
 
snippet fetchFoFc "Fetch fofc map." b 
fetch ${1:3nd4}, type=fofc, async=0;
$0
endsnippet
 
snippet filledRing "Filled rings in nucleic acids. " b 
show sticks;set cartoon_ring_mode, 3;
set cartoon_ring_finder, 1;
set cartoon_ladder_mode, 1;
set cartoon_nucleic_acid_mode, 4;
set cartoon_ring_transparency, 0.5;
as cartoon;
$0
endsnippet
 
snippet getCoordinates "Get coordinates. " b 
print cmd.get_atom_coords('${1:/4PCO//B/G`8/OP2}');
$0
endsnippet
 
snippet hbonddash "H-bond dashes." b 
hide everything, hydrogens;
hide labels;
set dash_color, black; 
set dash_gap, 0.4;
set dash_radius, 0.08;
$0
endsnippet
 
snippet hbond "Hbond setup. " b 
hide labels;
set dash_color, black ;
set dash_length, ${1:0.15};
set dash_gap, ${2:0.35};
set dash_width,  ${3:3.0};
$0
endsnippet
 
snippet hidealtloc "Hide alt loc." b 
select altconf, alt ${1:b}  # select B alternative locators;
hide everything, altconf  # hide alt B locators;
$0
endsnippet
 
snippet labelResnResi "Label CA atom with single-letter residue name and residue number." b 
label name ca, '%s%s' %(one_letter[${1:resn}],${2:resi}); 
$0
endsnippet
 
snippet labelSS "Label SS. " b 
alter ${1:}, ss='%1';
label (%2),'%3';
$0
endsnippet
 
snippet loadPDBbs "Load PDB ball-and-stick." b 
fetch ${1:3nd3},name=${1:3nd3}, type=pdb, async=0
hide (name H*);
hide lines;
show sticks;
set stick_radius, ${2:1.2};
set nb_sphere_radius, ${3:0.35};
orient;
$0
endsnippet
 
snippet loadPDBnb "Load PDB nb spheres. " b 
fetch ${1:3nd3},name=${1:3nd3}, type=pdb, async=0;
orient;
set stick_radius, ${2:1.2};
hide (name H*);
set nb_sphere_size, ${3:0.35};
set nb_spheres_quality, ${4:1};
show nb_spheres;
$0
endsnippet
 
snippet ms "Measure surface area. " b 
fetch ${1:3nd3},name=${1:3nd3}, type=pdb, async=0
select ${2:temp}, ${3:3nd3} and chain A;
run ${3:/Users/blaine-mooers/Scripts/PyMOLScripts/msms_pymol.py};
calc_msms_area ${2:temp};
$0
endsnippet
 
snippet molscriptRibbon "Molscript ribbons." b 
set cartoon_highlight_color, grey;
show cartoon;
set cartoon_flat_sheets, 0;
set cartoon_smooth_loops, 0;
set cartoon_fancy_helices, 1;
$0
endsnippet
 
snippet oneLetter "One letter amino acid. " b 
one_leVer%={'VAL':'V',%'ILE':'I',%'LEU':'L',%'GLU':'E',%'GLN':'Q','ASP':'D',%
'ASN':'N',%'HIS':'H',%'TRP':'W',%'PHE':'F',%'TYR':'Y',%'ARG':'R',%'LYS':'K',%
'SER':'S',%'THR':'T',%'MET':'M',%'ALA':'A',%'GLY':'G',%'PRO':'P',%'CYS':'C'}%
$0
endsnippet
 
snippet fasta "Print Fasta from PDB file. " b 
print cmd.get_fastastr('all')
$0
endsnippet
 
snippet pseudolabel "Position label with pseudoatom. " b 
pseudoatom ${1:forLabel};
label ${1:forLabel}, '%0';
set label_color, ${2:red};
$0
endsnippet
 
snippet rotate "Rotate about axis." b 
rotate ${1:x}, ${2:45}, ${3:pept}
$0
endsnippet
 
snippet stereoDraw "Stereo draw." b 
stereo walleye; 
set ray_shadow, off; 
#draw 3200,2000;
draw ${1:1600,1000}; 
png ${2:aaa}.png
$0
endsnippet
 
snippet stereoRay "Stereo ray." b 
stereo; 
set ray_shadow, off;
ray ${1:2400,1200};
png ${2:aaa}.png
$0
endsnippet
 
snippet threeMaps "Three electron density. " b 
load ${1:4dgr}.pdb
# Make sure to rename map file so that 
# the root filename differs from pdb root filename
load ${1:4dgr}_2fofc.ccp4, 2fofc;
load ${1:4dgr}_fofc.ccp4, fofc;
select  ${2:glycan}, resid 200 or (resid 469:477);
isomesh ${3:mesh1}, 2fofc, 1.0, ${2:glycan};
color density, ${3:mesh1};
isomesh ${4:mesh2}, fofc, 3.0, ${2:glycan};
color green, ${4:mesh2};
isomesh ${5:mesh3}, fofc, -3.0, ${2:glycan};
color red, ${5:mesh3};
$0
endsnippet
 
snippet turnAboutAxis "Turn about axis. " b 
turn ${1:x},${2:90};
$0
endsnippet
 
snippet volumeRamp "Volume ramp." b 
cmd.volume_ramp_new('ramp_magenta', [0.01, 1.00, 0.00, 1.00, 0.00, 4.01, 1.00, 0.00, 1.00, 0.10, 4.99, 1.00, 0.00, 1.00, 0.50,])
$0
endsnippet
 
snippet solventRadius "Set radius of ball used to make solvent accessible surface." b 
set solvent_radius, ${1:1.55};
$0

endsnippet
 
snippet scaleRadiusColor "Scale the radius and color of atoms as spheres by property in the B-value column." b 
bg_color white
hide everything
show spheres
set  stick_radius = 0.1
hide everything, HET
show spheres, HET
set sphere_quality=3
show sticks, resi 1102
from pymol import stored
# set the stored array equal to the b−values; or use your own values 
stored.bb = [ ]
iterate, stored.bb.append(b)
# execute a python−block
python
# scale the b−values
M = max(stored.bb)
scaledBB = map(lambda x: float (x/M), stored.bb)
count = 0
# set the sphere radii independently
for x in scaledBB:
  cmd.set("sphere_scale", x ,"ID %s"%count)
  count = count + 1
python end
spectrum b, selection=4gdx
space cmyk
set specular_intensity , 0.25
$0
endsnippet
 
snippet rv "Return settings in rounded format." b 
run roundview.py;
$0
endsnippet
 
snippet spng "Save png flle with timestamp" b 
python;
import datetime;
from pymol import cmd; 
DT =datetime.datetime.now().strftime("yr%Ymo%mday%dhr%Hmin%M");
s = str(DT); 
cmd.save(stemName+s+".png"); 
end python;
$0
endsnippet
 
snippet spse "Save pse flle with timestamp" b 
python;
import datetime;
from pymol import cmd; 
DT =datetime.datetime.now().strftime("yr%Ymo%mday%dhr%Hmin%M");
s = str(DT); 
cmd.save(stemName+s+".pse"); 
end python;
$0
endsnippet
 
snippet sc222 "Run Tom Holder's supercell script to generate three cells in all directions." b 
run $HOME/Scripts/PyMOLscripts/supercell.py
supercell 2, 2, 2, , orange, supercell2, 1
$0
endsnippet
 
snippet pearl "The pearl effect is made with two spheres with the outer sphere being transparent." b 
create ${1:sodium2}, ${2:sodium1}
set sphere_transparency, 0.4, ${1:sodium2}
set sphere_scale, 1.05, ${1:sodium2}
ray
$0
endsnippet
 
snippet fog "Blur the background atoms." b 
set fog, 0
$0
endsnippet
 
snippet rmwater "Remove waters from molecular object." b 
remove resn HOH
$0
endsnippet
 
snippet setcolor "Set color name to a RGB code." b 
set_color ${1:bark}, [${2:0.1, ${3:0.1}, ${4:0.1}]
color ${1:bark}, ${5:protein}
$0
endsnippet
 
snippet duplicateObject "Duplicate object." b 
create ${1:t4l}, ${2:1lw9}; 
$0
endsnippet
 
snippet selectChain "Select a chain. " b 
select rna, chain B
$0
endsnippet
 
snippet selectResidues "Select residues by name." b 
select aromatic, resn phe+tyr+trp;
$0
endsnippet
 
snippet selectResi "Select residues by a range of numbers." b 
select se;2. resi 1-100
$0
endsnippet
 
snippet selectElement "Select atoms by elemnt." b 
select ${1:oxygen}, elem ${2:O}
$0
endsnippet
 
snippet selectName "Select atoms by name." b 
select ${1:oxygen2}, name ${2:O2}
$0
endsnippet
 
snippet selectHelices "Select atoms by alpha helices." b 
select ${1:helices}, ss h; 
$0
endsnippet
 
snippet selectStrands "Select atoms by beta strands." b 
select ${1:strands}, ss s; 
$0
endsnippet
 
snippet selectLoops "Select atoms by beta loops." b 
select ${1:loops}, ss l;
$0
endsnippet
 
snippet selectAllBut "Select all nitrogen atom in a selelction except from lysine." b 
select ${1:select1}, elem ${2:N} and chain ${3:A} and not resn ${4:LYS};
$0
endsnippet
 
snippet selectAtomsAround "Select atoms within a radius around a ligand." b 
select ${1:nearby}, resn ${2:drug} around ${3:5};
$0
endsnippet
 
snippet selectResiduesAround "Select residues within a radius around a ligand." b 
select ${1:nearby}, br. resn ${2:drug} around ${3:5};
$0
endsnippet
 
snippet undoSelection "Undo a selection." b 
disable ${1:sele}; 
$0
endsnippet
 
snippet loadPDBfile "Load a pdb file in the current directory." b 
load ${1:my.pdb};
$0
endsnippet
 
snippet savePNG "Save a png file of current scene to the current directory." b 
png ${1:saveMe.png}; 
$0
endsnippet
 
snippet ringMode "Set the ring mode to a value between 0  and 6 in cartoons of nucleic acids." b 
show cartoon, ${1:rna}; set cartoon_ring_mode, ${2:3};
$0
endsnippet
 
snippet sidehChainHelper "In cartoons, hide the backbone atoms of selected residues when showing then as sticks." b 
set cartoon_side_chain_helper, on;
$0
endsnippet
 
snippet extractPartObj "Create a new object from part of an existing object." b 
extract new_obj, chain A
$0
endsnippet
 
snippet puttyCartoon "Create a putty cartoon." b 
show cartoon;
cartoon putty;
unset cartoon_smooth_loops;
unset cartoon_flat_sheets;
$0
endsnippet
 
snippet hideSelection "Trun off magenta squares on current selection." b 
indicate none
$0
endsnippet
 
snippet discreteCartoonColoring "Turn on discrete colors between secondary structure elements." b 
set cartoon_discrete_colors, on
$0
endsnippet
 
snippet sc111 "Display all symmetry mates in one unit cell. Uses supercell.py in $HOME/Scripts/PyMOLscripts/." b 
run $HOME/Scripts/PyMOLscripts/supercell.py
supercell 1, 1, 1, , orange, supercell1, 1
$0
endsnippet
 
snippet saxsEnvelope "Display SAXS envelope" b 
alter ${1:refine_A_Ave_SM_015_0_370-374-0r}, vdw=3.0
set solvent_radius = 3.0
$0
endsnippet
 
snippet setpath "Set additional path for PyMOL to search on startup" b 
os.environ["PATH"] += os.pathsep +${1: '/Applications/ATSAS/bin'};
$0
endsnippet
 
snippet fetchPath "Set path for location to save fetched pdb files. " b 
set fetch_path, ${1:/Users/blaine/pdbFiles};
$0
endsnippet
 
snippet antialias "Set antialias to get smooth edges" b 
set antialias, 1;
$0
endsnippet
 
snippet lspymolrc "Print list of active pymolrc files." b 
print invocation.options.deferred;
$0
endsnippet
 
snippet sigDigits "Set number of decimals places to show in distance labels. " b 
set label_distance_digits, ${1:2};
set label_angle_digits, ${2:2};
$0
endsnippet
 
snippet labelCAs "Label the CA atoms with the Ala333 style format" b 
label name CA,"%s%s" % (resn,resi);
$0
endsnippet
 
snippet labelWatersHOH "Label waters HOH." b 
label resn HOH ,"%s%s" % (resn,resi);
$0
endsnippet
 
snippet labelWatersW "Label waters W." b 
label resn HOH ,"W%s" % (resi);
$0
endsnippet
 
snippet findHbonds "Find hbonds around a residue." b 
remove element h; distance hbonds, all, all, 3.2, mode=2;
$0
endsnippet
 
snippet printBs "Print the B-factors of a residue. " b 
remove element h; iterate resi %{1:133}, print resi, name,b;
$0
endsnippet
 
snippet labelMainChain "Label the main chain atoms by resn,resi,atom name." b 
label name n+c+o+ca,"%s%s%s" % (resn,resi,name);
$0
endsnippet
 
snippet printBspartB "Print B factors of part B of a residue." b 
iterate resi %{1:38} and altloc %{2:B}, print resi, name, alt, b;
$0
endsnippet
 
snippet printBs2digits "Print B-values for a residue with the B's rounded off to two decimal places." b 
iterate (resi %{1:133}), print(name + " %.2f" % b);
$0
endsnippet
 
snippet writeCommandReference2HTML "Write the command reference to html file in the present working directory. " b 
cmd.write_html_ref('pymol-command-ref.html');
$0

endsnippet
 
snippet averageB "Average the B-factors by using  a regular list as opposed to PyMOL's stored list. Edit the selection as needed." b 
""" Uses a regular list as opposed to PyMOL's stored list. Edit the selection as needed."""
Bfactors = []; 
iterate (resi ${1:133}), Bfactors.append(b);
print("Sum = ", "%.2f" % (sum(Bfactors)));
print("Number of atoms = ", len(Bfactors));
print( 'Average B =' , "%.2f" % ( sum(Bfactors)/float(len(Bfactors))));
$0
endsnippet
 
snippet aveB4resiX "AveBResiX, prints the resiude number and the average bfactor. " b 
""""AveBResiX, prints the resiude number and the average bfactor. 
Uses reduce and lambda, builtin Python functional porgramming functions. 
Note that you need to convert the length of the list of Bfactors from an integer to a float before division into the sum. 
"""
Bfactors = []; 
iterate (resi ${1:133}), Bfactors.append(b);
print( "Average B-factor of residue ", %{1:133} , "   = ", "%.2f" %(reduce(lambda x, y: x + y, Bfactors) / float(len(Bfactors))) )
$0
endsnippet
 
snippet printNameB4ResiX "Print name and b-factor for a residue." b 
Bfac_dict = { 'Bfactors3' : [] };cmd.iterate("(resi 133)","Bfactors3.append((name, b))", space=Bfac_dict); for i,j in Bfac_dict['Bfactors3']: print("%s %.2f" % (i,j));
$0
endsnippet
 
snippet printResiResnNameB4ResiX "Print resn, resi, atom name, and b-factor. " b 
Bfac_dict = { 'Bfactors3' : [] };cmd.iterate("(resi 133)","Bfactors3.append((resn,resi,name, b))", space=Bfac_dict); for i,j,k,l in Bfac_dict['Bfactors3']: print("%s %s %s %.2f" % (i,j,k,l));
$0
endsnippet
 
snippet printResiResnNameB4ResiXNoH "Print name and b-factor for a residue or residue range (e.g. 81:120). The noH variant." b 
Bfac_dict = { 'Bfactors3' : [] };cmd.iterate("(resi 133 and not elem H)","Bfactors3.append((resn,resi,name, b))", space=Bfac_dict); for i,j,k,l in Bfac_dict['Bfactors3']: print("%s %s %s %.2f" % (i,j,k,l));
$0
endsnippet
 
snippet internalGUImode2  "Make the background of the internal gui transparent to expand viewport." b 
internal_gui_mode=2;
$0
endsnippet
 
snippet internalGUIwidth "Set the width of the internal gui. 
" b 
internal_gui_width=%{1:20};
$0
endsnippet
 
snippet printDoc "Print document string of a function." b 
print ${1:my_func}.__doc__;
$0
endsnippet
 
snippet lsSnips "List all snips by tab trigger and description" b 
Tab trigger                  Description
---------------------------  --------------------------------------------------------------------------------------------------------------------------------------------------------------------
antialias                    Set antialias to get smooth edges
ao                           Ambient occlussion.
aveB4resiX                   AveBResiX, prints the resiude number and the average bfactor.
                             Uses reduce and lambda, builtin Python functional porgramming functions.
                             Note that you need to convert the length of the list of Bfactors from an integer to a float before division into the sum.
averageB                     Uses a regular list as opposed to PyMOL's stored list. Edit the selection as needed.
bs                           Ball and stick representation.
bu                           Biological unit.
carvedDensity                Carved electron density.
cblind                       Color blindness.
centerpi                     Center pi.
coordinate                   Coordinate covalent bonds to metals and H-bonds friom RNA.
cribbon                      Color ribbon H red, strand yellow, loop green.
cspheres                     Colored spheres.
discreteCartoonColoring      Turn on discrete colors between secondary structure elements.
distance                     H-bond distances.
doubleBond                   Valence bond.
drawHbonds                   Draw H-bonds.
duplicateObject              Duplicate object.
ellipcol                     Set ellipsoid color.
extractPartObj               Create a new object from part of an existing object.
fasta                        Print Fasta from PDB file.
fetch2FoFc                   Fetch 2FoFc map.
fetchCIF                     Fetch cif file.
fetchFoFc                    Fetch fofc map.
fetchPath                    Set path for location to save fetched pdb files.
filledRing                   Filled rings in nucleic acids.
findHbonds                   Find hbonds around a residue.
fog                          Blur the background atoms.
getCoordinates               Get coordinates.
hbond                        Hbond setup.
hbonddash                    H-bond dashes.
hideSelection                Trun off magenta squares on current selection.
hidealtloc                   Hide alt loc.
internalGUImode2             Makes the background of the internal gui transparent with the viewport extended into this region of the gui. This may be a useful mode for workshops.
internalGUIwidth             Set the width of the internal gui.
labelCAs                     Label the CA atoms with the Ala333 style format
labelMainChain               Label the main chain atoms by resn,resi,atom name.
labelResnResi                Label CA atom with residue name and residue number.
labelSS                      Label SS.
labelWatersHOH               Label waters HOH.
labelWatersW                 Label waters W.
loadPDBbs                    Load PDB ball-and-stick.
loadPDBfile                  Load a pdb file in the current directory.
loadPDBnb                    Load PDB nb spheres.
lsSnips                      List all snips by tab trigger and description
lspymolrc                    Print list of active pymolrc files.
molscriptRibbon              Molscript ribbons.
ms                           Measure surface area.
oneLetter                    One letter amino acid.
pearl                        The pearl effect is made with two spheres with the outer sphere being transparent.
printBs                      Print the B-factors of a residue.
printBs2digits               Print B-values for a residue with the B's rounded off to two decimal places.
printBspartB                 Print B factors of part B of a rsidues.
printDoc                     Print document string of a function.
printNameB4ResiX             Print name and b-factor for a rsidue. You can change this to a named selection or a residue range ( e.g., resi 133:155). Use the noH variant if H atoms are present.
printResiResnNameB4ResiX     Print resn, resi, atom name, and b-factor.
printResiResnNameB4ResiXNoH  Print name and b-factor for a rsidue. You can change this to a named selection or a residue range ( e.g., resi 133:155). The noH variant.
pseudolabel                  Position label with pseudoatom.
puttyCartoon                 Create a putty cartoon.
ringMode                     Set the ring mode to a value between 0  and 6 in cartoons of nucleic acids.
rmwater                      Remove waters from molecular object.
rotate                       Rotate about axis.
rv                           Return settings in rounded format.
savePNG                      Save a png file of current scene to the current directory.
saxsEnvelope                 Display SAXS envelope
sc111                        Display all symmetry mates in one unit cell. Asumes supercell.py (sse PyMOL Wiki) is in $HOME/Scripts/PyMOLscripts/.
sc222                        Run Tom Holder's supercell script to generate three cells in all directions.
scaleRadiusColor             Scale the radius and color of atoms as spheres by property in the B-value column.
selectAllBut                 Select all nitrogen atom in a selelction except from lysine.
selectAtomsAround            Select atoms within a radius around a ligand.
selectChain                  Select a chain.
selectElement                Select atoms by elemnt.
selectHelices                Select atoms by alpha helices.
selectLoops                  Select atoms by beta loops.
selectName                   Select atoms by name.
selectResi                   Select residues by a range of numbers.
selectResidues               Select residues by name.
selectResiduesAround         Select residues within a radius around a ligand.
selectStrands                Select atoms by beta strands.
setcolor                     Set color name to a RGB code.
setpath                      Set additional path for PyMOL to search on startup
sidehChainHelper             In cartoons, hide the backbone atoms of selected residues when showing then as sticks.
sigDigits                    Set number of decimals places to show in distance labels.
sigang                       Set angle labels to display 2 decimals places
sigdist                      set distance labels to display 2 decimals
solventRadius                Set radius of ball used to make solvent accessible surface.
spng                         Save png flle with timestamp
spse                         Save pse flle with timestamp
stack                        Base-stacking figure.
stereoDraw                   Stereo draw.
stereoRay                    Stereo ray.
threeMaps                    Three electron density.
turnAboutAxis                Turn about axis.
undoSelection                Undo a selection.
volumeRamp                   Volume ramp.
writeCommandReference2HTML   Write the command reference to html file in the present working directory.
$0
endsnippet
 
snippet his31asp70 "Asp70-His31 salt-bridge from T4 lysozyme. " b 
fetch 1lw9, async=0; 
zoom (resi 31 or resi 70); 
preset.technical(selection='all'); 
bg_color gray70; 
clip slab, 7,(resi 31 or resi 70);
rock;
$0
endsnippet
 
snippet waterTriple "triple water pentagon." b 
fetch 1lw9, async=0; 
zoom resi 313; 
preset.technical(selection='all', mode=1);
$0
endsnippet
 
snippet ligandSelect "Make selection of ligand atoms." b 
select substrates, organic;
$0
endsnippet
 
snippet github "Print url of README.md file of the pymolsnips repository." b 
https://github.com/MooersLab/pymolsnips/blob/master/README.md
$0
endsnippet
 
snippet sigdihedral "Set dihedral labels to display 2 decimals places to the right of the decimal point." b 
set label_dihedral_digits, ${1:2};
$0
endsnippet
 
