<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmail</key>
	<string>blaine-mooers@ouhsc.edu</string>
	<key>contactName</key>
	<string>Blaine Mooers</string>
	<key>description</key>
	<string>Customized snippets for working more efficiently in LaTeX.</string>
	<key>name</key>
	<string>PyMOL</string>
	<key>uuid</key>
	<string>e59324a4-f5eb-4e83-85ec-efcb8cb216f0</string>
</dict>
</plist>
